
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: armata;
        text-overflow: clip;
}
.content h1 {
    color: #2c3e50;
    font-size: 2em;
    margin-top: 0;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .headline {   
    font-size: 50px; /* Main headline font size */
    font-weight: bold;
}
.subtext {
    font-size: 16px; /* Smaller font size for the second text */
    color: rgb(23, 43, 110); /* Optional: change color to distinguish */
    margin-left: 10px; /* Add some space between texts */
}
  
body {

    display: flex;
    justify-content: center;
    align-items:baseline;   
    height: 100vh;
    margin: 50px;
    background-color: #8a8a94e5;
 
  }
  
  .container {
    width:fit-content;
    height: fit-content;
    padding: 20px;
    background-color: #bebed3e5;
    text-align: center;
    border-radius: 10px;
  }
  
  textarea, input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #98d0d4;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #82b4b8;
  }